@import "config";
@import "utilities";

%btn {
    display: inline-block;
    border-radius: 5px;
    padding: 8px 20px;
    margin: 3px;

    &:hover {
        transform: scale(.80);
    }
}

.btn-primary, .btn-secondary {
    @extend %btn;
    @include set-bg($secondary-color);
}
